<nav [ngClass]="'menu'">
  <ul>
    <li>
      <a routerLink="/company" routerLinkActive="active">Company</a>
      <!-- <a routerLink="/person" routerLinkActive="active">Person</a> -->
      <a [routerLink]="[{outlets:{personlist:['person']}}]" routerLinkActive="active">Person</a>
    </li>
  </ul>
</nav>

<div >
<!-- Name outlet Exampe -->

<router-outlet></router-outlet>
<router-outlet name="personlist"></router-outlet>


</div>

<h2>Web API Example</h2>

<!-- <ul *ngFor="let bk of softBooks">
    <li>ID: {{bk.id}}</li>
    <li>Name: {{bk.name}}</li>
    <li>Category: {{bk.category}}</li>
</ul> -->

<!-- async funtion usage -->

<ul *ngFor="let bk of softBooks1|async">
  <li>ID: {{bk.id}}</li>
  <li>Name: {{bk.name}}</li>
  <li>Category: {{bk.category}}</li>
</ul>


<div *ngIf="softBooks2 | async as bk; else Loading">
      ID:{{bk.id}} Name:{{bk.name}}   Category: {{bk.category}}
</div>

<ng-template  #Loading>
<img src="assets/images/Loading.gif" />

</ng-template>


<!-- map function usage -->
<div *ngIf="BookName|async as BK">
     {{BK}}
</div>

<!-- subscribe with map function -->

<div >
{{BookName1}}
</div>


<!-- http Client Post -->

<h2> Http Client Post</h2>

<p *ngIf="datasaved" ngClass="Success">
   {{datamessage}}
</p>

<form [formGroup]="bookForm1" (ngSubmit)="onFormSubmit()">
<table>
  <tr>
    <td>Name:</td>
    <td><input formControlName="name"  ></td>
  </tr>
  <tr>
    <td>Category:</td>
    <td><input formControlName="category"  ></td>
  </tr>
  <tr>
    <td>Writer:</td>
    <td><input formControlName="writer"  ></td>
  </tr>
  <tr >
   <td colspan="2">
    <button [disabled]="bookForm1.invalid">Submit</button>
   </td>
  </tr>
</table>

</form>

<table border="1">
 <tr>
  <th>ID</th><th>Name</th><th>Category</th><th>Writer</th>
 </tr>
 
 <tr *ngFor="let bk of softBooks1|async">
 <td>{{bk.id}}</td><td>{{bk.name}}</td><td>{{bk.category}}</td><td>{{bk.writer}}</td>
 <td><button type="button" (click)="booktoEdit(bk.id)">Edit</button></td>
 <td><button type="button" (click)="booktoDelete(bk.id)">Delete</button></td>
 </tr>
</table>



<hr>

<!-- ngif and ngtemplate example -->
<!-- 
<h3>ngif section</h3>
<div *ngIf="display">
  ngif content
</div>

<h3>ngif section with ngtemplate</h3>
<ng-template [ngIf]="display">
ngif content with ng template
</ng-template> -->


<!-- <h3>ngif section</h3>
<div *ngIf="display; else elseblock">
  ngif content
</div>

<h3>ngif section with ngtemplate</h3>
<ng-template  #elseblock>
ngif content with ng template
</ng-template> -->

<!-- ngtemplate with ngfor -->

<div *ngFor="let book of books; let i=index">
  {{i+1}}.  {{book.name}}:  {{book.price}}

</div>

<ng-template ngFor let-book [ngForOf]="books" let-i="index">
  <p>{{i+1}}.  {{book.name}}:  {{book.price}}</p>

</ng-template>

<!-- ng switch -->

<div [ngSwitch]="'Javascript'">
  <h2 *ngSwitchCase="'Angular'">Angular Course</h2>
  <h2 *ngSwitchCase="'Javascript'">Javascript course1</h2>
  <h2 *ngSwitchCase="'C#'">C Sharp</h2>
  <h2 *ngSwitchDefault>Default Course</h2>
 </div>

 <div [ngSwitch]="'Angular'">
  <ng-template [ngSwitchCase]="'Angular'">
       <p>   Javascript Course</p> 
  </ng-template>
  <ng-template [ngSwitchCase]="'Angular'">
       <p>  Angular Course2</p> 
  </ng-template>
  <ng-template [ngSwitchCase]="'C#'">
       <p>   C Sharp Course</p> 
  </ng-template>
 
 </div>

 <!-- ng container example -->
<hr>

<h2>ng Container Example</h2>
<table>
  <tbody>
    <ng-container *ngFor="let book of books">
        <tr *ngIf="book.id>1">
          <td>{{book.name}}</td>
        </tr>
    </ng-container>
  </tbody>
</table>


<!-- view child example -->
<app-counter-parent></app-counter-parent>

<app-parent-color></app-parent-color>

<!-- viewchild using template ref variable -->

<app-theme></app-theme>

